<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>{% block title %}{{title}}{% endblock %}</title>
</head>
<body>
    <nav>
        {% block nav %}
        <!-- Default navigation goes here or can be overridden -->
        {% endblock %}
    </nav>
    
    {% block content %}
    <!-- Child templates will override this block to insert their specific content -->
    {% endblock %}

    <footer>
        {% block footer %}
        <!-- Default footer goes here or can be overridden -->
        {% endblock %}
    </footer>
    <script src="../static/js/script.js"></script>    
</body>
</html>
